ul {
  list-style-type: none;
  padding: 0;
}

.row-book {
  padding: 20px;
  /* border: 1px solid black; */
  border: 1px solid lightslategray;
}

.row-book .col-sm {
  padding: 20px;
}

.col-sm:not(.col-img) {
  text-align: justify;
  position: relative;
}

.more-info-link {
  position: absolute;
  bottom: 0;
  right: 30px;
  color: lightslategray;
}

.more-info-link:hover {
  color: #5cb85c;
}

.fa-external-link-alt {
  font-size: 8px;
  vertical-align: super;
}