ul {
  list-style-type: none;
  padding: 0;
}

.row-book {
  padding: 20px;
  /* height: 270px; */
  /* height: 30%; */
  border: 1px solid black;
}

.row-book .col-sm {
  padding: 20px;
}

.col-sm:not(.col-img) {
  text-align: justify;
  position: relative;
}

.more-info-link {
  position: absolute;
  bottom: 0;
  right: 30px;
}

.fa-external-link-alt {
  font-size: 8px;
}