#cart {
  /* line-height: initial; */
}

h3 {
  margin-bottom: 40px;
}

ol {
  padding: 0;
}

ol li {
  border-bottom: 1px solid lightcoral;
}

.delete-cart-item {
  padding-left: 20px;
  cursor: pointer;
}

.total-parapraph {
  margin-top: 20px;
  border-top: 2px solid black;
  padding: 10px;
  margin-left: 30px;
}


/* .cart {
  margin-top: 5px;
}

.cart-btn {
  margin-left: 3px;
  border: 1px solid #5cb85c;
  color: #5cb85c;
  vertical-align: super;
  font-size: 10px;
  border-radius: 3px;
  background-color: transparent;
}

.cart-btn:hover {
  color: white;
  background-color: #5cb85c;

}

.cart-btn:active {
  background-color: #5cb85c;
} */