#navbar ul .nav-item {
  a {
    color: #303030;

    :hover {
      color: #138496;
    }
  }

  .title-p {
    padding: 0;
    margin: 0;
    letter-spacing: 3px;
  }
}

@media only screen and (max-width: 575px) {
  #navbar>ul>li:nth-child(odd) {
    padding: 20px initial;
  }
}